.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.groupName {
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.3);
}
