---
import ActionButton from "../main/action-button.astro"
---

<header class="w-full flex flex-row justify-center items-center sticky top-2">
  <div
    class="header-content flex flex-row justify-between items-center px-4 w-full max-w-[1040px] bg-muted py-2 rounded-lg"
  >
    <a href="/" class="text-2xl font-semibold text-background">Баллами</a>
    <a
      href="https://business.ballami.ru/login"
      rel="noopener nofollow"
      class="btn sign-in-btn ml-auto mr-4 text-primary text-sm font-medium">Войти</a
    >
    <ActionButton />
  </div>
</header>

<style>
  .btn {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .sign-in-btn:hover {
    color: hsl(var(--primary) / 0.9);
  }
</style>
