---
import Layout from "widgets/ui/layout.astro"
---

<Layout title="Юридическая информация">
  <main class="flex items-center justify-center mt-8">
    <div class="max-w-[1040px] bg-muted rounded-3xl py-8 px-4 w-full">
      <div>
        <h1 class="text-2xl font-semibold mb-5">Юридическая информация</h1>
        <p>Самозанятый Аксёнов Богдан Русланович</p>
        <p>ИНН: 123123123</p>
        <p>г. Санкт-Петербург</p>
      </div>
      <div class="flex flex-col mt-4 text-primary">
        <a href="/legal/terms-of-use">Пользовательское соглашение</a>
        <a href="/legal/privacy-policy">Политика конфиденциальности</a>
      </div>
    </div>
  </main>
</Layout>
