.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 16px;
  text-align: center;
}

.form {
  width: 100%;
  margin-top: 40px;
}

.help {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 40px;
}

.btnTg {
  margin-top: 8px;
  border-radius: 6px;
  background: #0088cc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #fff;
  margin-bottom: 6px;
}

.btnCode {
  margin-top: 8px;
  border-radius: 6px;
  background: #ffa14a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.inactive {
  background-color: #636366;
}

.info {
  margin-top: 12px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #636366;
}
