---
import ActionButton from "./action-button.astro"
---

<section class="py-8 rounded-xl mb-20">
  <div class="flex flex-col items-center justify-center">
    <h3 class="text-3xl font-semibold mb-4">Попробуйте бесплатно 30 дней</h3>
    <ActionButton />
  </div>
</section>
