<section class="py-8">
  <h3 class="text-2xl font-semibold">По данным аналитики использование системы лояльности повышает конверсию на 1000%</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam suscipit soluta!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem facere reprehenderit
    magnam nulla asperiores et laborum hic repellendus saepe blanditiis?
  </p>
</section>