---
import Layout from "../widgets/ui/layout.astro"
---

<Layout title="404" hasHeader={false} hasFooter={false}>
  <div class="flex h-[100vh] items-center justify-center flex-col">
    <h1 class="text-2xl font-semibold mb-4">404: Страница не найдена</h1>
    <a href="/" class="text-primary">На главную</a>
  </div>
</Layout>
