---
import Layout from "../widgets/ui/layout.astro"
import MainMobileApps from "../widgets/main/main-mobile-apps.astro"
---

<Layout title="Мобильное приложение">
  <main class="flex items-center justify-center mt-8">
    <div class="max-w-[1040px] bg-muted rounded-3xl py-8 px-4 w-full">
      <MainMobileApps />
    </div>
  </main>
</Layout>
