---
import Layout from "../widgets/ui/layout.astro"
---

<Layout title="Тарифы">
  <main class="flex items-center justify-center mt-8">
    <div class="max-w-[1040px] bg-muted rounded-3xl py-8 px-4 w-full">
      <h1 class="text-2xl font-semibold mb-5">Тарифы</h1>
      <ul class="mb-2 flex flex-row justify-around">
        <li class="flex flex-col gap-2">
          <h3 class="text-center font-semibold">Пробный</h3>
          <span class="text-center">30 дней бесплатно</span>
        </li>
        <li class="flex flex-col gap-2">
          <h3 class="text-center font-semibold">Старт</h3>
          <span class="text-center">1990р в месяц</span>
        </li>
      </ul>
    </div>
  </main>
</Layout>
